{
    "presets": [["@babel/preset-env", { "modules": false }]],
    "env": {
      "test": {
        "plugins": ["@babel/plugin-syntax-object-rest-spread", "@babel/polyfillgit"],
        "presets": [["@babel/preset-env", { "targets": { "node": "9" } }]]
      }
    }
  }
